<!doctype html>
<html lang="sv">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="~/favicon.ico" />
    <link href="~/css/main.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="nav-and-button">
                <button id="menu-close">Stäng Meny</button>
                <ul>
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Start</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="About">Om sidan</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main />
    @RenderBody()
    </main>
</body>

</html>
