@model discgolf.Models.DgCourses
@{
    ViewData["Title"] = "Lägg till bana";

        int numberOfBaskets = ViewBag.NumberOfBaskets;
    
}

<div class="form">
    <form method="post">
        <h1>Lägg till bana</h1>

        <label asp-for="CourseName"></label>
        <input asp-for="CourseName" />

        <label asp-for="Basket"></label>
        @for (int i = 0; i < numberOfBaskets; i++)
        {
            int j = i + 1;
            <input asp-for="Basket[i]" placeholder="Par för hål @j" />
        }

        <!-- Dold fält för att skicka med en extra int-variabel -->
        <input type="hidden" name="numberOfBaskets" value="@numberOfBaskets" />

        <input type="submit" value="Lägg till bana" class="submit-button">

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="error-message">
                @ViewData["ErrorMessage"]
            </div>
        }
    </form>
</div>