@model IEnumerable<discgolf.Models.DgCourses>
@{
    ViewData["Title"] = "Startsidan";
}

<h1>Startsidan</h1>
<p>Detta är lite </p>

<div>

    @foreach (var dgcourse in Model)
    {
        <div id="@dgcourse.Id" class="course-div">


            <h2>@dgcourse.CourseName</h2>

            <div class="flex">
                <p class="basket">Hål</p> @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                {
                    <p class="basket">@i</p>
                }
            </div>
            <div class="flex">
                <p class="basket">Par @for (var i = 1; i <= dgcourse.Basket.Length; i++)
                    {
                    <p class="basket">@dgcourse.Basket[i - 1]</p>
                    }
            </div>
            
        </div>
    }

</div>