* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding-top: 100px;
}

nav {
    width: 100%;
    top: 0;
    border-width: 0 0 2px 0;
    border-color: black;
}

nav ul {
    position: absolute;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    width: 100%;
}

nav li {
    width: 100%;
    height: 70px;
    list-style: none;
}



nav a {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    height: 70px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-content: center;
    color: black
}

nav a:hover,
#header-icon:hover,
#menu-button:hover,
#close-menu-button:hover {
    background-color: rgb(238, 238, 238);

}

#menu-close,
#menu-open {
    position: fixed;
    right: 20px;
    margin-top: 20px;
    z-index: 1;
}


button {
    padding: 5px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
}

.course-div {
    width: 1000px;
    height: auto;
    background-color: rgb(238, 238, 238);
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
}

.course-button-div {
    display: flex;
}

.big-div-courses {
    margin: 60px auto 60px auto;
}

.flex-button {
    width: 100%;
    padding: 10px 0 10px 0;
    padding: 5px;
    border-style: none;

    text-decoration: none;
    color: black;
}

.deleteBtn {
    background-color: rgb(255, 147, 147);
}

.addBtn, .course-button-div {
    background-color: rgb(172, 216, 255);
}

.flex-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px;
}

.flex {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 202, 202);
    display: flex;
}

.basket {
    margin: 5px;
    width: 100%;
}

.text-center {
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}



.course-div h2,
.course-div h3 {
    background-color: rgb(212, 212, 212);
    padding: 15px;
    margin: 0;
}

.display-none {
    display: none;
}

.icon {
    height: 20px;
    width: 20px;
}

.center-spalt {
    text-align: center;
    width: 1000px;
    max-width: 100%;
    margin: auto;
}

.form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
    width: 500px;
    max-width: 100%;
    margin: 50px auto 50px auto;
    padding: 20px;
}

.form h2,
.form h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}

.form label,
.form input {
    width: 300px;
    margin: 20px auto 10px auto;
    display: block;
}

.submit-button {
    display: block;
    width: 300px;
    background-color: rgb(33, 74, 255);
    color: white;
    margin: 20px auto 10px auto;
    padding: 5px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
}

.submit-button:hover {

    background-color: rgb(52, 157, 255);
}

.error-message {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}